.btn {
  background-color: $mainRed;
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1.2rem;
  display: inline-block;

  &--orange {
    background-color: #d5954199;
    border: 1px solid #000;
    &:hover {
      background-color: $mainOrange;
    }
  }
  &--large {
    padding: 1.1rem 1.9rem;
  }
  @mixin atSmall {
    font-size: 1.25rem;

  }
}
