.large-hero {
  border-bottom: 0.6em solid $mainRed;
  position: relative;

  &__image {
    display:block;
    height: 600px;
  }

  &__text-content {
    padding-top: 88px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    @mixin atMedium {
      padding-top: 60px;

    }
  }
  &__title {
    font-weight: 300;
    color: $mainRed;
    font-size: 1.5rem;
    margin: 0;

    @mixin atSmall {
      font-size: 3.0rem;
    }
  }

  &__description {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgb(0, 0 ,0, 0.1);
    max-width:30rem;
    margin: 40px auto 40px auto;
  }
  @mixin atSmall {
    font-size: 1.875rem;

  }
}
