.modal {
  position: fixed;
  z-index: 5;
  background-color: rgb(255, 255, 255, .90);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all .3s ease-out;

  &--is-visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

&__description {
  line-height: 1.2;
  font-size: 1.7rem;
}


  &__body {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;

    &--form {
      label {
        display: block;
        padding: 10px 0;
      }

      input:last-child {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    color:$mainRed;
    cursor: pointer;

    &:hover {
      color: $mainOrange;
    }
  }

}
