
.package {
  padding-bottom: 4.5rem;


}

.price-capture {
  color: black;
  text-decoration: none;
}

.price-capture:hover {
  color: $mainOrange;
}

.price {
  display: block;
  margin: 0 auto;
  position: relative;
  border: 2px solid $mainRed;
  border-radius: 100%;
  width: 200px;
  height: 200px;

  @mixin atSmall {
    display: inline-block;


  }

  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 0.7em;
    margin-bottom: 0.8rem;
    padding-top: 40px;


    @mixin atSmall {
      font-size: 1.875rem;
      text-align: center;
    }
  }

  & * {
    text-align: center;
  }

}


.includes {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  line-height: 2rem;
  transform: translateY(20%) !important;

  li {
    vertical-align: middle;

  }

  img {
    width: 15px;
    margin-right: 5px;
  }
}
