.section-title {
  font-size: 2.55rem;
  font-weight: 300;
  text-align: center;

  @mixin atSmall {
    font-size: 3.75rem;
  }

  strong {
    font-weight: 500;
  }

  &--red {
    color: $mainRed;
  }

  &--blue {
    color: $mainBlue;
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.6rem;

    @mixin atSmall {
      position: relative;
      top: 8px;
      margin-bottom: 0;
      margin-right: 0.5rem;
      margin-left: 0;
      display: inline-block;
    }
  }

  &--less-b-margin {
    margin-bottom: 0rem;

    @mixin atMedium {
      margin-bottom: 5.3rem;

    }
  }

  &--compact {
    font-size: 2rem;
    font-weight: 400;

    @mixin atMedium {
      font-size: 2.55rem;

    }

  }

}
